@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 166, 216);
  font-family: "Young serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.9px;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.96);
}

#toasts {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  color: rebeccapurple;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}
